@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #2CA3BB, #3A8291);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2e3233f2;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #3A5F66;
    text-align: center;
    text-shadow: 1px 1px 2px #030606c1;
}

h2 {
    color: #2C393C;
}

p {
    text-align: justify;
}
